.common-container {
  position: relative;
  background: inherit;

  padding: auto;
  min-height: 91vh;
  min-width: 100vw;
}

.padding-top-half {
  padding-top: 30vh;
}

/* .flex-container {
  display: flex;

  align-items: center;
  width: inherit;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.flex-container > div {
  margin: 5vh;
} */

.grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 60%;
  grid-template-columns: auto auto;
}

.text-container {
  display: flex;
  height: 20vh;
}
