.common-container {
  position: relative;
  background: inherit;

  padding: auto;
  min-height: 91vh;
  min-width: 100vw;
}

.padding-top-half {
  padding-top: 30vh;
}

.flex-container {
  display: flex;

  align-items: center;
  width: inherit;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.flex-container > div {
  margin: 5vh;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 60%;
  grid-template-columns: auto auto;
}

.item {
  justify-self: center;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-top: 3vh;
}

.text-container {
  display: flex;
  height: 20vh;
}
/* 
span:hover {
  color: yellow;
  animation: text-animation 40s ease-in alternate-reverse infinite;
}


@keyframes text-animation {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 */
