form {
  box-sizing: border-box;

  input {
    overflow: visible;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  label {
    cursor: default;
    display: inline-block;
  }

  ul {
    padding: 0;
    margin: 0;
    display: block;
    list-style-type: disc;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
    }

    li.half {
      width: 49%;
      float: left;
      clear: none;
    }

    li.submit {
      overflow: hidden;
    }
  }

  textarea {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 150px;
    overflow: auto;
  }

  a {
    background-color: transparent;
    &:hover {
      color: #019e86;
    }
  }

  .flat-button {
    float: right;
    color: #08fdd8;
    font-size: 14px;
    letter-spacing: 4px;

    text-decoration: none;
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    transition: color 0.3s;

    span.bg {
      -webkit-text-size-adjust: 100%;
      list-style: none;
      color: #08fdd8;
      font-size: 14px;
      letter-spacing: 4px;
      line-height: 50px;
      text-align: center;
      box-sizing: border-box;
      left: -5%;
      position: absolute;
      background: #08fdd8;
      width: 0;
      height: 100%;
      z-index: 3;
      transition: 0.3s ease-out all;
      transform: skewX(-10deg);
    }

    span.base {
      box-sizing: border-box;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      left: 0;
      border: 1px solid #08fdd8;
    }

    span.text {
      z-index: 4;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    div {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    &:hover {
      color: black;
      & span.bg {
        width: 110%;
      }
    }
  }
}
