:root {
  --rect-short: 150px;
  --rect-mid: 200px;
  --rect-long: 250px;
  --gap: 20px;
  --box-shadow-colour: rgba(112, 144, 112, 0.65);
  --background-colour: rgba(64, 191, 64, 0.25);
}
* {
  padding: 0;
  margin: 0;
}

#gallery img {
  object-fit: cover;
  box-shadow: -15px 15px 13px -13px var(--box-shadow-colour),
    15px 15px 13px -13px var(--box-shadow-colour),
    -15px 0px 13px -13px var(--box-shadow-colour),
    15px 0px 13px -13px var(--box-shadow-colour);
}
#gallery {
  display: none;
}
section.gallery {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.gallery > div.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(var(--rect-short) + var(--rect-long) + (var(--gap) * 1));
  gap: var(--gap);
}
@media only screen and (max-width: 450px) {
  .gallery > div.center {
    max-width: var(--rect-long);
  }
}
.gallery .horizontal {
  width: var(--rect-long);
  height: var(--rect-short);
}
.gallery .vertical {
  width: var(--rect-short);
  height: var(--rect-mid);
}
.gallery .top {
  align-self: flex-end;
}
.gallery .bottom {
  align-self: flex-start;
}
.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0.05, 1.2, 0.4, 1.35);
  transform-style: preserve-3d;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 960px) {
  .side {
    display: none;
  }
}
