.e-card {
  width: 100%;

  padding: 2vh;
  border: 1px solid white;
  background: #2a2a2a;

  .e-card-title {
    font-size: 4vh;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .e-card-date {
    color: #ababab;
    display: block;
    font-size: 2vh;
  }
  .e-card-description {
    font-size: 3vh;
    color: #ababab;
    line-height: 1.8rem;
  }
}
