.e-card {
  width: 100%;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid white;
  background: #2a2a2a;
  .e-card-title {
    font-family: font-file-82132;
    font-size: 2.6rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .e-card-date {
    color: #ababab;
    display: block;
    font-size: 1.2rem;
  }
  .e-card-description {
    font-size: 1.6rem;
    color: #ababab;
    line-height: 1.8rem;
  }
}
