.flex-container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
}
.flex-container .item {
  width: 50%;
  height: 100%;
  position: relative;
}
.flex-container .item p {
  position: relative;
}
.flex-container .right-item {
  order: 1;
  margin: auto;
}
@media (max-width: 900px) {
  .flex-container {
    height: 100%;
    flex-direction: column;
  }
  .flex-container .item {
    width: 100%;
  }
}
